* {
  margin: 0;
  padding: 0;
}
header {
  height: 200px;
  background-color:#729f98;
  text-align: center;
  font-family: monospace;
}

header  h1 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Noto Serif', serif;
  color: #FFFFFF;
}

#welcome{
  text-align: center;
  position: relative;
  margin: 10px;
  padding: 15px;
  color:#729f98;
}

body {
  margin: auto;
  background-color: #f6f1ed;
}
button{
  margin: 10px;
}

img {
  width: 120px;
}

img#bookLogo {
  width: 50px;
}

.container div,
.container>button {
  display: block;
  /*margin: 10px;
  padding: 5px;
  left: 30px;*/
}


.bookEx {
  position:relative;
  float: left;
  display: inline-block;
  text-align: center;
  width: 30%;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.bookEx>* {
  list-style-type: none;
}

.bookSaved {
  display: inline-block;
  text-align: center;
  width: 40%;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.bookSaved>* {
  list-style-type: none;
}

#viewDiv.hidden {
  display: none;
  width: 100%;
}

#viewDiv.show {
  display: block;
  width: 100%;
}

#viewDiv>div {
  background-color: white;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
}

#viewDiv ul {
  list-style: none;
}

.changeDiv {
  text-align: right;
  margin: 10px;
}

.error {
  max-height: 200px;
  width: 100%;
  bottom: 0px;
  overflow: auto;
  background-color: lightgray;
  padding: 30px;
  border-radius: 10px;
}
